<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.config.ChallengeMapper">

	<select id="challengeNumber" resultType="int">
		select challenge_no_seq.nextval
		from dual
	</select>
	
	<select id="categoryNumber" resultType="int" parameterType="hashmap">
		select count(*)
		from challenges
		where category = #{category} and sday >= #{date}
	</select>
	
	<select id="userChallengeNumber" resultType="int" parameterType="int">
		select count(*)
		from cparticipant
		where unum = #{unum}
	</select>
	
	<select id="photoNumber" resultType="int" parameterType="hashmap">
		select count(*)
		from cphoto
		where unum = #{unum} and cnum = #{cnum}
	</select>
	
	<select id="allChallenge" resultType="ChallengeDTO" parameterType="date">
		select *
		from challenges
		where sday >= #{today} and mpeople > 1
	</select>
	
	<select id="challengeByCnum" resultType="ChallengeDTO" parameterType="int">
		select *
		from challenges
		where cnum = #{cnum}
	</select>
	
	<select id="searchChallenge" resultType="ChallengeDTO" parameterType="string">
		select *
		from challenges
		where name = #{name}
		order by participant desc
	</select>
	
	<select id="searchChallengeByNum" resultType="ChallengeDTO" parameterType="int">
		select *
		from challenges
		where cnum = #{cnum}
	</select>
	
	<select id="categoryChallenge" resultType="ChallengeDTO" parameterType="hashmap">
		select *
		from challenges
		where sday >= #{today} and category = #{category}
	</select>
	
	<select id="categoryChallengeAll" resultType="ChallengeDTO" parameterType="hashmap">
		select *
		from challenges
		where category = #{category}
	</select>
	
	<select id="findParticipant" resultType="int" parameterType="hashmap">
		select count(*)
		from cparticipant
		where cnum = #{cnum} and unum = #{unum}
	</select>
	
	<insert id="challengeParticipate" parameterType="hashmap">
		insert into cparticipant (cnum,unum)
		values (#{cnum},#{unum})
	</insert>
	
	<update id="challengePeopleUpdate" parameterType="int">
		update challenges
		set participant = participant+1
		where cnum = #{cnum}
	</update>
	
	<insert id="challengeAdd" parameterType="ChallengeDTO">
		insert into challenges (cnum,name,sday,eday,mpeople,fee,category,holiday,photo)
		values (challenge_no_seq.nextval,#{name},#{sday},#{eday},#{mpeople},#{fee},#{category},#{holiday},#{photo})
	</insert>
	
	<select id="userChallenge" resultType="ChallengeDTO" parameterType="int">
		select *
		from challenges
		where cnum in (select cnum from cparticipant where unum = #{unum})
	</select>
	
	<select id="userChallengeRetrieve" resultType="CphotoDTO" parameterType="hashmap">
		select *
		from cphoto
		where cnum = #{cnum} and unum = #{unum}
		order by uploaddate desc
	</select>
	
	<select id="certificationRetrieve" resultType="CphotoDTO" parameterType="hashmap">
		select *
		from cphoto
		where cnum = #{cnum} and unum = #{unum} and uploaddate = #{uploaddate}
	</select>
	
	<insert id="certificationAdd" parameterType="CPhotoDTO">
		insert into cphoto (cnum,unum,photo,coment,uploaddate)
		values (#{cnum},#{unum},#{photo},#{coment},#{uploaddate})
	</insert>
	
	<delete id="photoDelete" parameterType="hashmap">
		delete from cphoto
		where cnum = #{cnum} and unum = #{unum} and uploaddate = #{uploaddate}
	</delete>
	
	<insert id="ReportAdd" parameterType="hashmap">
		insert into verifyreport (cnum,unum,uploaddate,reportunum)
		values (#{cnum},#{unum},#{uploaddate},#{reportnum})
	</insert>
	
	<select id="ReportCheck" resultType="int" parameterType="hashmap">
		select count(*)
		from verifyreport
		where cnum = #{cnum} and unum = #{unum} and uploaddate = #{uploaddate} and reportunum = #{reportnum}
	</select>
	
	<select id="allCertificationReport" resultType="ReportDTO">
		select cnum, unum, uploaddate, count(*) as cnt
		from verifyreport
		group by cnum, unum, uploaddate
	</select>
	
	<select id="reportNumber" resultType="int">
		select count(*)
		from verifyreport
	</select>
	
	<update id="validationUpdate" parameterType="hashmap">
		update cphoto
		set validates = 0
		where cnum = #{cnum} and unum = #{unum} and uploaddate = #{uploaddate}
	</update>
	
	<delete id="reportDelete" parameterType="hashmap">
		delete from verifyreport
		where cnum = #{cnum} and unum = #{unum} and uploaddate = #{uploaddate}
	</delete>
	
	<insert id="insertHoliday" parameterType="hashmap">
		insert into choliday (cnum,holiday)
		values (#{cnum},#{holiday})
	</insert>
	
	<select id="holidayCheck" resultType="int" parameterType="hashmap">
		select count(*)
		from choliday
		where cnum = #{cnum} and holiday = #{today}
	</select>
	
	<select id="challengeCompleteCheck" resultType="int" parameterType="hashmap">
		select complete
		from cparticipant
		where cnum = #{cnum} and unum = #{unum}
	</select>
	
	<update id="challengeCompleteUpdate" parameterType="hashmap">
		update cparticipant
		set complete = 1
		where cnum = #{cnum} and unum = #{unum}
	</update>
	
	
</mapper>