<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.config.ChallengeMapper">

	<select id="challengeNumber" resultType="int">
		select count(*)
		from challenges
	</select>
	
	<select id="allChallenge" resultType="ChallengeDTO" parameterType="date">
		select *
		from challenges
		where sday >= #{today}
	</select>
	
	<select id="searchChallenge" resultType="ChallengeDTO" parameterType="string">
		select *
		from challenges
		where name = #{name}
		order by participant desc
	</select>
	
	<select id="searchChallengeByNum" resultType="ChallengeDTO" parameterType="int">
		select *
		from challenges
		where cnum = #{cnum}
	</select>
	
	<select id="categoryChallenge" resultType="ChallengeDTO" parameterType="hashmap">
		select *
		from challenges
		where sday >= #{today} and cartegory = #{category}
	</select>
	
	<select id="findParticipant" resultType="int" parameterType="hashmap">
		select count(*)
		from cparticipant
		where cnum = #{cnum} and unum = #{unum}
	</select>
	
	<insert id="challengeParticipate" parameterType="hashmap">
		insert into cparticipant (cnum,unum)
		values (#{cnum},#{unum})
	</insert>
	
	<update id="challengePeopleUpdate" parameterType="int">
		update challenges
		set participant = participant+1
		where cnum = #{cnum}
	</update>
	
	<insert id="challengeAdd" parameterType="ChallengeDTO">
		insert into challenges (cnum,name,sday,eday,mpeople,fee,cartegory,holiday,photo)
		values (challenge_no_seq.nextval,#{name},#{sday},#{eday},#{mpeople},#{fee},#{category},#{holiday},#{photo})
	</insert>
	
	<select id="userChallenge" resultType="ChallengeDTO" parameterType="int">
		select *
		from challenges
		where cnum in (select cnum from cparticipant where unum = #{unum})
	</select>
	
	<select id="userChallengeRetrieve" resultType="CphotoDTO" parameterType="hashmap">
		select *
		from cphoto
		where cnum = #{cnum} and unum = #{unum}
		order by uploaddate desc
	</select>
	
	<insert id="certificationAdd" parameterType="CPhotoDTO">
		insert into cphoto (cnum,unum,photo,coment,uploaddate)
		values (#{cnum},#{unum},#{photo},#{coment},#{uploaddate})
	</insert>
	
	
</mapper>