<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.config.MemberMapper">
	
	 <update id="updateNickname" parameterType="hashmap">
	 	 update user_table
	 	 set nickname=#{nickname}
	 	where id = #{id}
	 </update>
	 
	 <update id="updatePhoneNumber" parameterType="hashmap">
	 	 update user_table
	 	 set phoneNumber=#{phoneNumber}
	 	where id = #{id}
	 </update>
	 
	 <update id="updateProfileImage" parameterType="profileDTO">
		update profileImage
		set 
		mimetype=#{mimetype},
		original_name=#{original_name},
		data= #{data}
		where id = #{id}
	 </update>
	 
	  <insert id="insertProfileImage" parameterType="profileDTO">
		insert into profileImage(id, mimetype, original_name, data)
		values (#{id}, #{mimetype}, #{original_name}, #{data})
	 </insert>
	 
	 <select id="findProfileImage" parameterType="int" resultType="profileDTO">
	 	select * from profileImage
	 	where id = #{id}
	 </select>
</mapper>


