<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.config.MemberMapper">
	
	 <update id="updateNickname" parameterType="hashmap">
	 	 update user_table
	 	 set nickname=#{nickname}
	 	where id = #{id}
	 </update>
	 
	 <update id="updatePhoneNumber" parameterType="hashmap">
	 	 update user_table
	 	 set phoneNumber=#{phoneNumber}
	 	where id = #{id}
	 </update>
	 
	 <update id="updateProfileImage" parameterType="profileImageDTO">
		update profileImage
		set 
		mimetype=#{mimetype},
		original_name=#{original_name},
		data= #{data}
		where id = #{id}
	 </update>
	 
	  <insert id="insertProfileImage" parameterType="profileImageDTO">
		insert into profileImage(id, mimetype, original_name, data)
		values (#{id}, #{mimetype}, #{original_name}, #{data})
	 </insert>
	 
	 <select id="findProfileImage" parameterType="int" resultType="profileImageDTO">
	 	select * from profileImage
	 	where id = #{id}
	 </select>
	 
	 <select id="findUser" parameterType="int" resultType="userDTO">
	 	select * from user_table
	 	where id = #{id}
	 </select>
	 
	 
	 
	  <insert id="insertChallengeImage" parameterType="challengeImageDTO">
		insert into ChallengeImage(cnum, mimetype, original_name, data)
		values (#{cnum}, #{mimetype}, #{original_name}, #{data})
	 </insert>
	 
	 <select id="findChallengeImage" parameterType="int" resultType="challengeImageDTO">
	 	select * from ChallengeImage
	 	where cnum = #{cnum}
	 </select>
	 
	  <update id="updateChallengeImage" parameterType="challengeImageDTO">
		update ChallengeImage
		set 
		mimetype=#{mimetype},
		original_name=#{original_name},
		data= #{data}
		where cnum = #{cnum}
	 </update>
	 
	 
	 
	   <update id="updatePassword" parameterType="map">
		 update user_table
	 	 set password=#{password}
	 	where id = #{id}
	 </update>
	 
	 <select id="findAllCphotoForValidity" parameterType="hashmap" resultType="int">
		select count(*)
		from cphotoImage
		where cnum=#{cnum} and unum=#{unum} and uploaddate= #{date} 
	 </select>
	 
	  <insert id="insertCPhoto" parameterType="cPhotoImageDTO" >
	 	insert into CPHOTOIMAGE
		values(#{cnum},#{unum},#{mimetype},#{data}, #{original_name},#{c_comment},#{uploaddate},	#{validates})
	 </insert>
	 
	 <select id="findCPhotoImage" parameterType="map" resultType="cPhotoImageDTO">
		select *
		from cphotoImage
		where cnum= #{cnum} and unum= #{unum} and uploaddate = #{uploaddate}
	 </select>
	 
	 <select id="findAllCphoto" parameterType="map" resultType="cPhotoImageDTO">
		select *
		from cphotoImage
		where cnum= #{cnum} and unum= #{unum}
	 </select>
	 
	 
	 <insert id="pointAccount" parameterType="map" >
	 	insert into point
		values( #{cnum}, #{unum}, #{point}, #{endDay}, 0)
	 </insert>
	 
	 <update id="pointMinus" parameterType="map" >
	 	update user_table
		set point = point - #{point}
		where id = #{unum}
	 </update>
	 
</mapper>


