<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.config.QnABoardMapper">
	<select id="selectAllQnABoard" resultType = "QnABoardDTO">
		select *
		from QnABoard
		order by id asc
	</select>
	
	<select id="selectQnABoardContent" resultType = "QnABoardDTO" parameterType="int">
		select *
		from QnABoard
		where id = #{id}
		order by id asc
	</select>	
	
	<insert id="insertQQnABoard" parameterType="QnABoardDTO">
		insert into QnABoard(id,title,qcontent,regdate)
		values (qnaboard_id_seq.nextval,
				#{title},				
				#{qcontent},										
				sysdate				
				)		
	</insert>
	
	<insert id="insertAQnABoard" parameterType="QnABoardDTO">
		insert into QnABoard(id,title,acontent,regdate)
		values (qnaboard_id_seq.nextval,
				#{title},				
				#{acontent},										
				sysdate				
				)		
	</insert>
	
	<delete id="deleteQnABoard" parameterType="int">
		delete from QnABoard
		where id = #{id}	
	</delete>	
	
	
	<select id="totalCount" resultType="int">
      select count(*)
      from QnABoard   
    </select>
    
    <update id="hitChange" parameterType="int">
    	update qnaBoard
    	set hit = hit + 1
    	where id = #{id}
    </update>
    
    <select id="searchQnABoard" parameterType="QnABoardDTO" resultType = "QnABoardDTO">
   		select *
   		from QnABoard
   		<choose>
   			<when test="type != null and type.equals('title')">
	   		where title like upper('%' || #{keyword} || '%') 	
	   		or title like lower('%' || #{keyword} || '%')   		    
	   		</when>
	   		
	   		<when test="type != null and type.equals('writerId')">
	   		where writerId = upper(#{keyword})	   	
	   		or writerId = lower(#{keyword}) 	
	   		</when> 
   		</choose>
    
    </select>
    
    <select id="checkAnswer" resultType = "QnABoardDTO" parameterType="int">
    	select acontent
    	from qnaboard
    	where id = ${id}
    </select>
    
    <select id="selectCount" parameterType="QnABoardDTO" resultType="int">
      select count(*)
      from qnaboard     
      <choose>
   			<when test="type != null and type.equals('title')">
	   		where title like ('%' || #{keyword} || '%') 	   		    
	   		</when>
	   		
	   		<when test="type != null and type.equals('writerId')">
	   		where writerId = #{keyword}	   		
	   		</when> 
   		</choose>
    </select>
    
</mapper>


