@charset "UTF-8";
table{
		border: 1px solid gray;
		width:100%;
	
	}
	#writeButton{
		display:inline-block;
		margin-top:30px;
	}
	#titleList{
		width:30%;
	}
	.writing{
		display:inline-block;
	}
	.paging{
		display:inline-block;
	}
	th{
		background-color:	#AECDFF;
		padding:  10px 0;	
		text-align:center;
	}
	fieldset{
	background-color:	#AECDFF;
		display:inline-block;
		width:80%;
		padding:  10px 0;		
		border: 1px solid gray;
	}
	form{
		display:inline-block;
		margin:auto;
		width:100%;
		text-align:center;
		margin-bottom:30px;
	}
	
	.title{
		text-align:left;
		display:inline-block;
		width:80%;
		
	}
	.top{
		text-align:center;
	}
	h3{
		margin-top:10px;
		margin-bottom:15px;
		display:inline-block;
	}
	.content{
		display:inline-block;
		width:80%;
		text-align:left;
	}
	.bottom{
		text-align:center;
	}
	